<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>张育发诊所就诊预约平台</title>
    <link th:replace="commn/head :: head"/>
</head>
<body>
<div th:replace="commn/common :: div"/>
<div th:replace="commn/ksorder :: ksorder_top"/>
<div class="yiyuanjieshao">
    <div class="yiyuanjieshao_title">
        <p>医院介绍</p>
    </div>
    <div class="yiyuanjieshao_context">
        <p>
            <span style="font: 14px/24px 微软雅黑, Microsoft YaHei; color: rgb(63, 63, 63); text-transform: none; text-indent: 0px; letter-spacing: normal;
            word-spacing: 0px; float: none; display: inline !important; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                北京同仁医院是一所以眼科、耳鼻咽喉科和心血管疾病诊疗为重点的百年老院,是一家大型综合性三甲医院。
                北京同仁医院眼科的特长是在眼底病、眼外伤、青光眼、角膜移植、眼部整形、激光诊疗；
                北京同仁医院耳鼻咽喉科在人工耳蜗植入、全耳再造、听力康复、头颈肿瘤治疗、气管异物取出、鼻内窥镜技术、睡眠呼吸暂停综合症治疗等方面处于国内领先地位，某些领域达到国际先进水平。
                北京同仁医院设有知名专家汇集的北京市眼科会诊中心、北京市耳鼻咽喉科会诊中心、北京市糖尿病综合会诊中心、北京泌尿外科会诊中心，还建立了国际眼病诊疗中心、白内障防治中心、屈光矫治中心、验光配镜及隐形眼镜中心、
                鼻眼相关疾病诊疗中心、睡眠呼吸监测中心、临床听力学中心以及人工耳蜗植入中心等全方位医疗服务体系。
            </span>
        </p>
    </div>
</div>
<div id="footer">
    <div class="footer_nb">
        <div class="footer_yb">
            <ul class="footer_ul">
                <li><a href="javascript:void(0);">联系我们</a></li>
                <li><a href="javascript:void(0);">服务协议</a></li>
                <li><a href="javascript:void(0);">意见反馈</a></li>
                <li><a>版权所有:辽ICP备05056889号</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/formater.js"></script>
<script type="text/javascript" src="/static/appjs/clinicInfo.js"></script>

<script type="text/javascript">
    function goonLogin() {
        $(".djdl_fpsuts").hide();
        popCenterWindow("#djdl", "#djdl_close");
        reloadImage($("#yzmdl"));
    }
    function submitModifyPass() {
        var a = $("#passWordfp"), b = $("#passWordAgainfp");
        if (!a.valid())return !1;
        if (!b.valid())return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/rpassword.htm",
            data: {pass: a.val(), isAjax: !0},
            success: function (a) {
                a.hasError ? alert(a.msg) : ($("#djdl_fpsu").css({display: "none"}), popCenterWindow(".djdl_fpsuts", "#djdl_fpsuts_close"));
            }
        });
    }
    function checkForm() {
        var a = $("#djdl_fp_zjhm").val(), b = $("#djdl_fp_yzm").val(), c = $("#djdl_fp_sfzhm").val(),
            d = $("#djdl_fp_sjyz").val();
        if (!$("#djdl_fp_zjhm").valid())return !1;
        if (!$("#djdl_fp_yzm").valid())return !1;
        if (!$("#djdl_fp_sfzhm").valid())return !1;
        if (!$("#djdl_fp_sjyz").valid())return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/fpassword.htm",
            data: {cardNo: a, imageCode: b, phoneNo: c, phoneCode: d, isAjax: !0, channel: "zhmm"},
            success: function (a) {
                a.hasError ?
                    alert(a.msg) : ($("#djdl_fp_close").click(), popCenterWindow("#djdl_fpsu", "#djdl_fpsu_close"));
            }
        });
    }
    function popDiv() {
        $("#djdl_close").click();
        popCenterWindow("#djdl_fpassword", "#djdl_fp_close");
        reloadImage3($("#djdl_fp_yzmdl"), "zhmm");
    }
</script>
</body>
</html>