<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>张育发诊所就诊预约平台</title>
    <link th:replace="commn/head :: head"/>
</head>
<body>
<div th:replace="commn/common :: div"/>
<div th:replace="commn/ksorder :: ksorder_top"/>
<div id="ksorder_time">
    <div class="ksorder_time_title">
        <p class="ksorder_t_p"><strong>门诊预约信息</strong></p>
    </div>
    <div class="ksorder_time_center">        <div class="ksorder_cen_l">
            <div class="ksorder_cen_l_l">
                <a class="ksorder_btn_left"></a>
                <ul>
                    <li>上午</li>
                    <li>下午</li>
                    <li>晚上</li>
                </ul>
            </div>
            <div class="ksorder_cen_l_table">
                <div class="ksorder_cen_l_t_c" style="width: 659px;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th scope="col">星期四<p>2017-03-30</p></th>
                            <th scope="col">星期五<p>2017-03-31</p></th>
                            <th scope="col">星期六<p>2017-04-01</p></th>
                            <th scope="col">星期日<p>2017-04-02</p></th>
                            <th scope="col">星期一<p>2017-04-03</p></th>
                            <th scope="col">星期二<p>2017-04-04</p></th>
                            <th scope="col">星期三<p>2017-04-05</p></th>
                        </tr>
                        <tr>
                            <td class="ksorder_ym">
                                约满<input type="hidden" name="col_0" value="0_1_2017-03-30"/>
                            </td>
                            <td class="ksorder_ym">
                                约满<input type="hidden" name="col_1" value="1_1_2017-03-31"/>
                            </td>
                            <td class="ksorder_ym">
                                约满<input type="hidden" name="col_2" value="2_1_2017-04-01"/>
                            </td>
                            <td>
                                &nbsp;<input type="hidden" name="col_3" value="3_1_2017-04-02"/>
                            </td>
                            <td>
                                &nbsp;<input type="hidden" name="col_4" value="4_1_2017-04-03"/>
                            </td>
                            <td>
                                &nbsp;<input type="hidden" name="col_5" value="5_1_2017-04-04"/>
                            </td>
                            <td>
                                &nbsp;<input type="hidden" name="col_6" value="6_1_2017-04-05"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="ksorder_ym">约满<input type="hidden" name="col_0" value="0_2_2017-03-30"/>
                            </td>
                            <td class="ksorder_ym">约满<input type="hidden" name="col_1" value="1_2_2017-03-31"/>
                            </td>
                            <td class="ksorder_ym">约满<input type="hidden" name="col_2" value="2_2_2017-04-01"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_3" value="3_2_2017-04-02"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_4" value="4_2_2017-04-03"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_5" value="5_2_2017-04-04"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_6" value="6_2_2017-04-05"/>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;<input type="hidden" name="col_0" value="0_4_2017-03-30"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_1" value="1_4_2017-03-31"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_2" value="2_4_2017-04-01"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_3" value="3_4_2017-04-02"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_4" value="4_4_2017-04-03"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_5" value="5_4_2017-04-04"/>
                            </td>
                            <td>&nbsp;<input type="hidden" name="col_6" value="6_4_2017-04-05"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ksorder_cen_l_r">
                <a href="http://www.bjguahao.gov.cn/dpt/appoint/105-200040068.htm?week=2" class="ksorder_btn_right"></a>
            </div>
        </div>
        <div class="ksorder_cen_r">
            <div class="ksorder_cen_r_top">
                <h4>预约规则</h4>
                <ul>
                    <li><span>更新时间：</span>每日8:45更新</li>
                    <li><span>预约周期：</span>7天</li>
                    <li><span>停挂时间：</span> 下午14:00停止次日预约挂号</li>
                    <li><span>退号时间：</span> 就诊前一日14:00前取消</li>
                </ul>
                <dl>
                    <dt>特殊规则</dt>
                    <dd><p><br/>①&nbsp; 眼肌科室下的屈光专台号源预约对象须为16周岁以下的患者，主要看近视、远视、散光等屈光不正问题；<br/>②&nbsp;
                        预约挂号同仁医院东西院-眼科特需门诊部的患者，就诊当日须出示预约挂号成功时收到的原始预约成功短信取号就诊；<br/>③&nbsp;
                        北京同仁医院眼科特需号、足踝中心张建中特需号均为自费，请不要选择其它报销类型；特需收费标准有别于普通门诊，具体情况可到东区特需门诊咨询；眼科门诊内的眼肌专台、眼肌、屈光均为自费，不能选择其它报销方式；<br/>④&nbsp;
                        预预约同仁医院东院-屈光号源的患者，年龄须在18至50周岁之间，并欲进行近视眼手术，（注：就诊前一周请勿佩戴隐形眼镜）。近视、斜视、弱视患者请预约眼肌科号源；<br/>⑤&nbsp;
                        预约成功后，请患者于就诊当日凭本人有效身份证件（ 医保患者需持社保卡）、实名就诊卡及预约识别码到收费窗口取号，取号后在分诊台报到进入叫号系统；<br/>⑥&nbsp;
                        预约挂号患者的就诊顺序以当天门诊挂号条显示号序为准；<br/>⑦&nbsp; 爽约处理：<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;一年内（自然年）爽约1次，自爽约之日起30日内停止预约挂号服务；<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;一年内（自然年）累计爽约2次，自最后一次爽约之日起60日内停止预约挂号服务；<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;一年内（自然年）累计爽约3次，自最后一次爽约之日起90日内停止预约挂号服务；<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        以此类推；<br/>⑧&nbsp; 部分科室的医生挂号费，以医院当日实际出诊情况为准；<br/>⑨&nbsp; 到医院取号时请告知挂号人员取预约号。</p>
                        <p><br/></p></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div th:replace="commn/footer :: footer"/>
<script type="text/javascript" src="/static/appjs/index.js"></script>
</body>
</html>