<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>张育发诊所就诊预约平台</title>
    <link th:replace="commn/head :: head"/>
</head>
<body>
<div th:replace="commn/common :: div"/>
<div id="ksorder_top">
    <div class="ksorder_div">
        <ul class="ksorder_ul">
            <li><a href="/">预约信息</a></li>
            <li><a href="/cinfo">诊所介绍</a></li>
            <li><a href="/ninfo">预约须知</a></li>
            <li><a href="/stopRepn">停诊信息</a></li>
            <li><a href="/sc" class="ksorder_ul_color">查询/取消</a></li>
        </ul>
    </div>
    <div class="ksorder_box">
        <div class="ksorder_box_top">
            <p class="ksorder_box_top_p">
                <strong>（辽·鞍）张育发内科综合门诊部</strong>
            </p>
        </div>
        <div class="ksorder_box_content">
            <div class="ksorder_c_left">
                <dl class="ksorder_box_con_dl">
                    <dt><img src="/static/img/moren.jpg"/></dt>
                    <dd>
                        <dl>
                            <dt><span class="yygh_box_con_dl_span1"></span></dt>
                            <dd><p>辽宁省鞍山市铁东区长大街28栋87号</p></dd>
                        </dl>
                        <dl>
                            <dt><span class="yygh_box_con_dl_span2"></span></dt>
                            <dd><p><a href="http://www.trhos.com/" target="_blank">http://www.trhos.com/</a></p></dd>
                        </dl>
                        <dl>
                            <dt><span class="yygh_box_con_dl_span3"></span></dt>
                            <dd><p>13942279217</p></dd>
                        </dl>
                        <dl>
                            <dt><span class="yygh_box_con_dl_span4"></span></dt>
                            <dd><p> 乘坐公交64路到长大转盘下车既是</p></dd>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="tingzhengxingxi">
    <div class="tingzhengxingxi_title"><p>查询/取消</p></div>
    <div class="tingzhengxingxi_context">
        <div class="hosi_cancel">
            <form action="#">
                <dl class="hosi_cancel_dl">
                    <dt>预约识别码：</dt>
                    <dd><input type="text" class="Rese_db_dl_inp"/></dd>
                </dl>
                <button type="button" class="hosi_cancel_btn" onclick="queryOrder()">查询订单</button>
            </form>
        </div>
        <table class="hosi_cancel_table" cellpadding="0" cellspacing="0" border="0"></table>
    </div>
</div>
<div id="footer">
    <div class="footer_nb">
        <div class="footer_yb">
            <ul class="footer_ul">
                <li><a href="javascript:void(0);">联系我们</a></li>
                <li><a href="javascript:void(0);">服务协议</a></li>
                <li><a href="javascript:void(0);">意见反馈</a></li>
                <li><a>版权所有:辽ICP备05056889号</a></li>
            </ul>
        </div>
    </div>
</div>

<script charset="utf-8" src="/static/js/s.js"></script>
<script type="text/javascript">var logined = false;</script>
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/top.js"></script>
<script type="text/javascript" src="/static/js/hospitalslist.js"></script>
<script type="text/javascript" src="/static/js/loginpop.js"></script>
<script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/userattention.js"></script>
<script type="text/javascript" src="/static/js/formater.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/validate_expand.js"></script>
<script type="text/javascript" src="/static/js/validate3.js"></script>
<script type="text/javascript" src="/static/js/gvalidate.js"></script>
<script type="text/javascript" src="/static/js/topdate.js"></script>
<script type="text/javascript" src="/static/js/regex.htm"></script>

<script type="text/javascript">
    function goonLogin() {
        $(".djdl_fpsuts").hide();
        popCenterWindow("#djdl", "#djdl_close");
        reloadImage($("#yzmdl"));
    }
    function submitModifyPass() {
        var a = $("#passWordfp"), b = $("#passWordAgainfp");
        if (!a.valid())return !1;
        if (!b.valid())return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/rpassword.htm",
            data: {pass: a.val(), isAjax: !0},
            success: function (a) {
                a.hasError ? alert(a.msg) : ($("#djdl_fpsu").css({display: "none"}), popCenterWindow(".djdl_fpsuts", "#djdl_fpsuts_close"));
            }
        });
    }
    function checkForm() {
        var a = $("#djdl_fp_zjhm").val(), b = $("#djdl_fp_yzm").val(), c = $("#djdl_fp_sfzhm").val(),
            d = $("#djdl_fp_sjyz").val();
        if (!$("#djdl_fp_zjhm").valid())return !1;
        if (!$("#djdl_fp_yzm").valid())return !1;
        if (!$("#djdl_fp_sfzhm").valid())return !1;
        if (!$("#djdl_fp_sjyz").valid())return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/fpassword.htm",
            data: {cardNo: a, imageCode: b, phoneNo: c, phoneCode: d, isAjax: !0, channel: "zhmm"},
            success: function (a) {
                a.hasError ?
                    alert(a.msg) : ($("#djdl_fp_close").click(), popCenterWindow("#djdl_fpsu", "#djdl_fpsu_close"));
            }
        });
    }
    function popDiv() {
        $("#djdl_close").click();
        popCenterWindow("#djdl_fpassword", "#djdl_fp_close");
        reloadImage3($("#djdl_fp_yzmdl"), "zhmm");
    }
</script>
</body>
</html>