<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>张育发诊所就诊预约平台</title>
    <link th:replace="commn/head :: head"/>
</head>
<body>
<div th:replace="commn/common :: div"/>
<div th:replace="commn/ksorder :: ksorder_top"/>
<div class="tingzhengxingxi">
    <div class="tingzhengxingxi_title"><p>停诊信息</p></div>
    <div class="tingzhengxingxi_context"><h2>停诊信息</h2>
        <table width="989" height="94" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>日期</td>
                <td>星期</td>
                <td>时段</td>
                <td>科室</td>
                <td>特长</td>
                <td>职称</td>
                <td>可挂号数</td>
                <td>剩余号数</td>
                <td>替换方式</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>普外门诊(西区)</td>
                <td>甲状腺、乳腺疾病诊治</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>白内障门诊(东区)</td>
                <td>白内障</td>
                <td>知名专家</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>心内科门诊(西区)</td>
                <td>心血管系统疾病</td>
                <td>知名专家</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("1"));
                    </script>
                </td>
                <td>心内科门诊(西区)</td>
                <td>心血管系统疾病</td>
                <td>知名专家</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("1"));
                    </script>
                </td>
                <td>血液门诊(西区)</td>
                <td>血液系统疾病</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>中医科门诊(东区)</td>
                <td></td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>鼻过敏科门诊(西区)</td>
                <td>过敏性鼻炎及鼻疾病</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>足踝中心门诊(东区)</td>
                <td>足踝外科(东区)</td>
                <td>副主任医师号</td>
                <td>5</td>
                <td>3</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>神内门诊(西区)</td>
                <td>神经内科疾病</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("1"));
                    </script>
                </td>
                <td>中医科门诊(东区)</td>
                <td></td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>消化门诊(西区)</td>
                <td>消化系统疾病</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-03-31</td>
                <td>5</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("2"));
                    </script>
                </td>
                <td>心内科门诊(西区)</td>
                <td>心血管系统疾病</td>
                <td>知名专家</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-03-31</td>
                <td>5</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("1"));
                    </script>
                </td>
                <td>骨科门诊(西区)</td>
                <td>脊柱外科</td>
                <td>副主任医师号</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
            <tr>
                <td>2017-04-01</td>
                <td>6</td>
                <td>
                    <script type="text/javascript">
                        document.write(fmt.formatDutyCode("1"));
                    </script>
                </td>
                <td>白内障门诊(东区)</td>
                <td>白内障</td>
                <td>知名专家</td>
                <td>0</td>
                <td>0</td>
                <td>不可替换</td>
            </tr>
        </table>
        <div id="yiyuan_list_rq">
            <ul class="yiyuan_list_rq_ul">
                <li class="yiyuan_list_rq_co"><a href="javascript:toPage(1);">首页</a></li>
                <li class="yiyuan_list_rq_xzd"><a class="yiyuan_list_rq_xzd" href="javascript:toPage(1);">1</a></li>
                <li class="yiyuan_list_rq_co"><a href="javascript:toPage(1);">尾页</a></li>
                <li>共1页</li>
                <li> 到 <input value="" id="yiyuan_list_rq_fy"/> 页</li>
            </ul>
            <input name="p_currentlyPage" type="hidden" value="1"/><input name="p_totalPage" type="hidden" value="1"/>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer_nb">
        <div class="footer_yb">
            <ul class="footer_ul">
                <li><a href="javascript:void(0);">联系我们</a></li>
                <li><a href="javascript:void(0);">服务协议</a></li>
                <li><a href="javascript:void(0);">意见反馈</a></li>
                <li><a>版权所有:辽ICP备05056889号</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/formater.js"></script>
<script type="text/javascript" src="/static/appjs/stopRepn.js"></script>
</body>
</html>