<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>张育发诊所就诊预约平台</title>
    <link th:replace="commn/head :: head"/>
</head>
<body>
<div th:replace="commn/common :: div"/>
<div th:replace="commn/ksorder :: ksorder_top"/>

<div class="yuyuexuzhi">
    <div class="yuyuexuzhi_title">
        <p>预约</p>
    </div>
    <div class="rg_nr">
        <form id="rg_nrfromReg">
            <dl class="rg_nr_dl">
                <dt>预约类型：</dt>
                <dd>
                <dd>
                    <select class="rg_nr_dl_select" id="rptType" style="color:#ccc">
                        <option value="1" selected="selected">初诊</option>
                        <option value="2" style="color:black">复诊</option>
                    </select>
                </dd>
                </dd>
            </dl>
            <dl class="rg_nr_dl">
                <dt>职业名称：</dt>
                <dd>
                    <input placeholder="请输入职业名称" type="text" id="workInfo" class="rg_nr_input"/>
                </dd>
            </dl>
            <dl class="rg_nr_dl">
                <dt>工作地址：</dt>
                <dd>
                    <input placeholder="请输入职业名称" type="text"  id="workAddr" class="rg_nr_input"/>
                </dd>
            </dl>
            <dl class="rg_nr_dl">
                <dt>病情简述：</dt>
                <dd>
                    <input placeholder="请简述您的病情" type="text" id="remarks" class="rg_nr_input"/>
                </dd>
            </dl>
            <input type="button" class="rg_nr_qrzc" value="预约" onclick="Register.regSubmit();"/>
        </form>
    </div>
</div>
<div th:replace="commn/footer :: footer"/>
<script type="text/javascript" src="/static/appjs/noticeInfo.js"></script>
</body>
</html>