html #hm_t_undefined .hm-t-go-top {
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 99998;
    cursor: pointer;
    width: 40px;
    height: 37px !important;
    text-align: center;
    white-space: normal;
    font-size: 14px;
    line-height: 17px;
    padding-top: 3px;
    color: #fff;
    background: #404040;
    background-image: url(../img/t-popup-icons-png8.png);
    _position: absolute;
}

input::-webkit-input-placeholder { /* WebKit browsers*/
    color: #CCC;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18*/
    color: #CCC;
}

input::-moz-placeholder { /* Mozilla Firefox 19+*/
    color: #CCC;
}

input:-ms-input-placeholder { /* Internet Explorer 10+*/
    color: #CCC;
}
.swal2-modal hr{
    height: 3px !important;
}
.swal2-modal button.styled{
    font-size: 13px !important;
    padding: 2px 15px !important;
}
.swal2-content{
    font-size: 15px !important;
}
.swal2-modal .swal2-close{
    font-size:6px !important;
    line-height: 17px !important;
    color: #808080 !important;
}