<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.client.dao.YyMapper">
    <resultMap id="YyRegisters" type="com.client.model.YyRegisterMdl">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="register_date" property="registerDate"/>
        <result column="register_time" property="registerTime"/>
        <result column="rpt_type" property="rptType"/>
        <result column="work_info" property="workInfo"/>
        <result column="work_addr" property="workAddr"/>
        <result column="remarks" property="remarks"/>
        <result column="rpt_flg" property="rptFlg"/>
        <result column="stood" property="stood"/>
        <result column="yy_count" property="registerCount"/>
    </resultMap>
    <!-- 查询预约记录数 -->
    <select id="selYyCount" parameterType="java.util.Map" resultMap="YyRegisters">
        SELECT register_time,register_date,COUNT(register_date) AS yy_count
        FROM(
            SELECT register_date,register_time
            FROM clinic_client_register
            WHERE 1=1
            ORDER BY register_time,register_date
        ) a
        WHERE 1=1
        <if test="registerDate != null">
            AND register_date=#{registerDate}
        </if>
        <if test="registerTime != null">
            AND register_time=#{registerTime}
        </if>
        GROUP BY  register_time,register_date
        ORDER BY register_date,register_time
    </select>
    <!-- 添加预约信息 -->
    <insert id="addYy" parameterType="com.client.model.YyRegisterMdl">
        INSERT INTO clinic_client_register
        (user_id,register_date,register_time,rpt_type,work_info,work_addr,remarks,rpt_flg,stood)
        VALUES
        (#{userId},#{registerDate},#{registerTime},#{rptType},#{workInfo},#{workAddr},#{remarks},#{rptFlg},#{stood})
    </insert>
    <!-- 查询是否已经预约 -->
    <select id="selYyHisty" parameterType="java.util.Map" resultMap="YyRegisters">
        SELECT id,user_id,register_date,register_time,rpt_type,
        work_info,work_addr,remarks,rpt_flg,stood
        FROM clinic_client_register
        WHERE 1=1
        <if test="userId != null">
            AND user_id=#{userId}
        </if>
        <if test="registerDate != null">
            AND register_date=#{registerDate}
        </if>
        <if test="registerTime != null">
            AND register_time=#{registerTime}
        </if>
        ORDER BY id
    </select>
</mapper>